/* Header */
.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 900;

  background-color: $primary-white-color;
}

.header-line {
  border-bottom: 1px solid $section-border-color;
}
.container.header {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  color: $logo-text-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  &-accent {
    color: $accent-color;
  }
}
