// Переменные
$primary-text-color: #757575;
$logo-text-color: #000000;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$copyright-text-color: rgba(255, 255, 255, 0.4);
$footer-link-color: rgba(255, 255, 255, 0.6);
$footer-bg-color: #2f303a;
$section-border-color: #ececec;
$social-link-bg-color: rgba(255, 255, 255, 0.1);
$button-hover-bg-color: #188ce8;
$title-text-color: #212121;
